body{
    background-color: #eee;
}


.dropdown_btn{
    background-color: #5b5;
    color: #fff;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    min-width: 10em;
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block;
    width: 35%;
    /* margin: 3vh 3vh; */
}
.dropdown_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12em;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown_content a{
    color: rgba(0, 0, 100, 0.9);
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
    font-size: 1em;
}

.dropdown_content a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown_btn:hover{
    background-color: #151;
}

.dropdown:hover .dropdown_content{
    display: block;
}